body{
    padding: 5% 15%; 
}

/* span{
    white-space: pre-wrap;
} */

.outputArea{
    /* display: inline-block; */
    padding: 1em;
    border: solid pink;
}

.inputArea{
    display: block;
    /* justify-content: space-around; */
}

button{
    white-space: pre;
    height: 0.5cm; /* 4 buttons * 0.5cm = 2cm */
    width: 0.5cm; /* 4 buttons * 0.5cm = 2cm */
    /* letter-spacing: 0.15em; */
    text-align: center;
    padding: 0;
    /* margin: auto; */
    font-size: 0.75em;
}
